In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.2.2'

In [5]:
animals=['cat','dog','squirrel','rabbit']

In [7]:
anim=pd.Series(animals)

In [8]:
anim

0         cat
1         dog
2    squirrel
3      rabbit
dtype: object

In [9]:
type(anim)

pandas.core.series.Series

In [10]:
type(animals)

list

In [11]:
employee_names=pd.Series(['Amy White','Jack Stewart','Richard Lauderdale','Sara Johnson'])

print(employee_names)

0             Amy White
1          Jack Stewart
2    Richard Lauderdale
3          Sara Johnson
dtype: object

In [12]:
work_experience_years = pd.Series([5,8,3,10])

In [13]:
type(work_experience_years)

pandas.core.series.Series

In [20]:
work_experience_years.to_numpy

<bound method IndexOpsMixin.to_numpy of 0     5
1     8
2     3
3    10
dtype: int64>

In [21]:
work_experience_years.to_numpy

<bound method IndexOpsMixin.to_numpy of 0     5
1     8
2     3
3    10
dtype: int64>

In [18]:
work

<bound method IndexOpsMixin.to_numpy of 0     5
1     8
2     3
3    10
dtype: int64>

In [19]:
print(type(work))

<class 'method'>

In [23]:
workers_work_experience={'Martin':8,'George':5}

In [25]:

employees_work_exp=pd.Series(workers_work_experience)
employees_work_exp.name='workers work experience'
print(employees_work_exp)

Martin    8
George    5
Name: workers work experience, dtype: int64

In [26]:
list_name=['Amy White','Jack Stewart','Richard Lauderdale','Sara Johnson']

In [30]:
name_ser=pd.Series(list_name,index=['a','b','c','d'])

In [31]:
name_ser

a             Amy White
b          Jack Stewart
c    Richard Lauderdale
d          Sara Johnson
dtype: object

In [32]:
import pandas as pd 
data={'Name':['Amy White','Jack Stewart','Richard Lauderdale','Sara Johnson'],'Age':[50,53,35,43],'Working Experience(Yrs.)':[5,8,3,10]}
df=pd.DataFrame(data)
print(df)

                 Name  Age  Working Experience(Yrs.)
0           Amy White   50                         5
1        Jack Stewart   53                         8
2  Richard Lauderdale   35                         3
3        Sara Johnson   43                        10

In [34]:
import pandas as pd 
data=[{'Name':'Amy White','Age':50,'Working Experience(Yrs.)':5},
      {'Name':'Jack Stewart','Age':53,'Working Experience(Yrs.)':8},
      {'Name':'Richard Lauderdale ','Age':35,'Working Experience(Yrs.)':3},
      {'Name':'Sara Johnson','Age':43,'Working Experience(Yrs.)':10}]
      
df=pd.DataFrame(data)
print(df)

                  Name  Age  Working Experience(Yrs.)
0            Amy White   50                         5
1         Jack Stewart   53                         8
2  Richard Lauderdale    35                         3
3         Sara Johnson   43                        10